@font-face {
    font-family: 'Bahnschrift';
    src: url('/frontend/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

/* General Styles */
body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #1f1f1f, #929292);
    color: #333;
}

/* Navbar Styles */
.navbar {
    height: 90px;
    background-color: #0c0c0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand, .nav-link {
    color: white !important;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffcccb !important;
}

/* Form Styles */
.registration-form {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin-right: 20px; /* Separar del borde derecho */
}

.registration-form .form-group {
    margin-bottom: 20px;
}

.registration-form .btn-primary {
    background-color: #0c0c0c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Left Section Styles */


#left-section .text-container {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
}

#left-section .text-container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#left-section .text-container p {
    font-size: 1.6rem;
}

/* Footer Styles */
footer {
    background-color: #c5c5e0;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Responsiveness */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar-brand, .nav-link {
        font-size: 16px;
        height: 100px;
    }

    .registration-form {
        padding: 20px;
        margin-right: 10px; /* Margen reducido para pantallas pequeñas */
    }

    #left-section {
        height: 50vh;
    }
}
