@font-face {
    font-family: 'Bahnschrift';
    src: url('/frontend/fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF') format('truetype');
}

/* General Styles */
body {
    font-family: 'Bahnschrift', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    height: 90px;
    background-color: #0c0c0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand, .nav-link {
    color: white !important;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffcccb !important;
}

/* Jumbotron Styles */
.display-4 {
    font-size: 3rem;
}

.jumbotron {
    height: 91vh;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 180px;
    position: relative;
    text-align: left;
}

/* Countdown Timer Styles */
.countdown-timer {
    position: absolute;
    bottom: 90px;
    right: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.time-unit {
    text-align: center;
    margin: 0 5px;
}

.time-unit span {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
}

.time-unit .label {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ccc;
}

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron h2 {
    font-size: 3rem;
}

.jumbotron .btn {
    background-color: #2c2f4d;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 20px;
}

/* Main Content Styles */
.section-highlight1, .section-highlight2, .section-highlight3, .section-highlight4 {
    padding: 60px 20px;
    color: #333;
}

/* Para centrar el título */
.section-title {
    margin-top: 1%;
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-align: center; /* Centramos el título */
}

.section-title2 {
    margin-top: 8%;
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-align: center; /* Centramos el título */
}

.video-container {
    position: relative;
    width: 90%; /* Ocupa todo el ancho del contenedor padre */
    padding-bottom: 50.65%; /* Mantiene la proporción 16:9 */
    height: 0;
    overflow: hidden;
    margin-left: 5%;
    margin-bottom: 1%; /* Espacio debajo del video */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.objective-points{
    margin-left: 3%;
    margin-right: 10%;
    padding-top: 15%;
}


.objective-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333333;
}

.objective-text p {
    font-size: 1rem;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Para alinear el texto más a la izquierda */
.objective-text {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 0;   /* Asegura que no haya margen hacia la izquierda */
    margin-right: auto; /* Alinea el texto al principio del contenedor */
}


/* Card Styles */
.card {
    border: none;
    border-radius: 15px;
    padding: 20px;
    background: white;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 300px; /* Establece una altura fija */
    width: 100%; /* Asegura que las cartas se ajusten al contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegura que las imágenes no se desborden */
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Mantiene la relación de aspecto de las imágenes */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

.card-text, .blockquote {
    font-size: 1rem;
    color: #666;
}

.flayer-image {
    max-width: 100% !important;
    height: auto !important;
    width: 50% !important;  /* Ajusta el ancho de la imagen al 50% del contenedor */
    display: block !important;
    margin: 0 19% !important;
}

.sponsor-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider-track {
    display: flex;
    width: calc(200%); /* El doble para permitir el efecto de bucle */
    animation: scroll 30s linear infinite;
}
.slider-track2 {
    display: flex;
    width: calc(200%); /* El doble para permitir el efecto de bucle */
    animation: scroll 20s linear infinite;
}

.slide {
    width: 25%; /* Cambia el tamaño del ancho si hay más o menos imágenes */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5%;
}

.slide img {
    max-width: 100%;
    border-radius: 15px;
    margin-right: 20px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}



/* Footer Styles */
footer {
    background-color: #c5c5e0;
    color: white;
    padding: 20px;
    text-align: center;
}




/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 10px 15px; /* Ajuste de padding para mejor alineación */
        justify-content: space-between;
    }

    .navbar-brand {
        padding: 0;
        margin-right: 0;
        height: auto;
    }

    .navbar-brand img {
        height: 80px; /* Reducimos el tamaño del logo para móviles */
        max-width: 100%; /* Aseguramos que la imagen no se desborde */
    }

    .navbar-toggler {
        margin-top: 10px; /* Ajustamos el margen superior del botón de colapso */
    }

    .navbar-collapse {
        text-align: center; /* Centramos el contenido del menú en dispositivos móviles */
    }

    .nav-link {
        font-size: 14px; /* Ajustamos el tamaño de fuente de los enlaces */
        margin: 5px 0; /* Espaciado entre los elementos del menú */
    }

    /* Jumbotron adjustments for mobile */
    .jumbotron {
        height: auto;
        padding: 20px;
        text-align: center; /* Centramos el contenido para dispositivos móviles */
    }

    .jumbotron h1 {
        font-size: 2.5rem;
    }

    .jumbotron h2 {
        font-size: 2rem;
    }

    .jumbotron .btn {
        font-size: 14px;
        padding: 8px 16px;
        height: auto;
        margin-top: 10px;
    }

    /* Countdown timer adjustments */
    .countdown-timer {
        bottom: 20px; /* Reducimos el margen inferior */
        right: 10px; /* Ajustamos la posición */
        width: 100%; /* Ocupamos todo el ancho disponible */
        padding: 10px;
    }

    .time-unit span {
        font-size: 1.5rem;
    }

    .time-unit .label {
        font-size: 0.8rem;
    }

    /* Footer adjustments */
    footer {
        padding: 10px;
    }
}
