/* styles/mystyles.css */

/* General Styles */
body {
    font-family: 'Rubik', sans-serif;
}

/* Navbar Styles */
.navbar {
    height: 90px;
    background-color: #194788;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffcccb !important;
}
.nav-link {
    padding-right: 20px !important;
}

.container {
    height: 689px;
    width: 100%;
}

/* Custom Styles for Row */
.custom-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    padding-top: 50px;
}

.col-md-5 {
    margin-left: -80px; /* Mueve la sección de la izquierda hacia la izquierda */
    margin-right: 150px; /* Ajusta el margen derecho si es necesario */
}
/* Footer Styles */
footer {
    background-color: #c5c5e0;
    color: white;
}
