/* styles/mystyles.css */

/* General Styles */
body {
    font-family: 'Rubik', sans-serif;
}

/* Jumbotron Styles */

.display-4{
    font-size: 80px;
}
.jumbotron {
    height:530px;
    margin-bottom: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}.jumbotron p  {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}


.jumbotron .btn {
    background-color: #de4040;
    border: none;
}

.display-4{
    padding-top: 90px;
}

.mt-4{
    padding: 10px;
}


.section-highlight {
    padding-top: 20px;
    background-color: #de4040;
    color: white;
}

.section-highlight1{
    padding: 20px;
    background-color: #ffffff;
}

.col-md-12{
    padding-top: 30px;
}

.mt-4{
    padding-top: 50px;
}

.section-content {
    padding: 30px;
}

/* Navbar Styles */
.navbar {
    height: 90px;
    background-color: #194788;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffcccb !important;
}
.nav-link {
    padding-right: 20px !important;
}

/* Footer Styles */
footer {
    background-color: #c5c5e0;
    color: white;
}
